# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [160]:
%load_ext autoreload
%autoreload 2

In [2]:
import data_cleaning

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

In [ ]:
df.head()
print(f"Data Frame columns are: {df.columns}") # To see wich the name of the columns are


df.columns = df.columns.str.lower() # To make all column names in lower case
df.columns = df.columns.str.replace(" ", "_") #To replace spaces in column names with "_"
df = df.rename(columns = {'st': 'state'}) # To rename the column name "st" as "state"

print(f"Date Frame columns names modified are: {df.columns}") # to see the name of the columns modified

df.head()

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
print(df["gender"])

df["gender"].unique() # To see how many and which unique values are. We only want "F" and "M"
df["gender"] = df.gender.str.replace("female", "F").replace("Femal", "F").replace("Male", "M") # We replace some to match "F" and "M"
df["gender"].unique() # We see now we only have "nan" , "F" and "M"


df["state"].unique()
df["state"] = df.state.str.replace("AZ", "Arizona").replace("WA", "Washington").replace("").replace("California", "Cali") # If we replace "Cali" with "California" we get some "Californiafornia" So we first replace "California" with "Cali"
df["state"].unique()
df["state"] = df.state.str.replace("Cali", "California") #And now we can safely replace "Cali" with "California"
df["state"].unique()


df["education"] = df.education.str.replace("Bachelors", "Bachelor")
df["education"].unique()


df["customer_lifetime_value"] = df.customer_lifetime_value.str.replace("%", "")


df["vehicle_class"] = df.vehicle_class.str.replace("Sports Car", "Luxury").replace("Luxury SUV", "Luxury").replace("Luxury Car", "Luxury")
df["vehicle_class"].unique()

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [3]:
df.dtypes

df["customer_lifetime_value"] = pd.to_numeric(df["customer_lifetime_value"]) # Converting into numeric

In [ ]:
df["number_of_open_complaints"].unique() # We visualize the unique values in the "number_of_open_complaints" column

In [5]:
df["number_of_open_complaints"].unique()

df["number_of_open_complaints"] = df["number_of_open_complaints"].str.replace('/00','') # Noticing there is a value "1/1/00", I apply first replacing the final part "/00" 
df["number_of_open_complaints"] = df["number_of_open_complaints"].str.replace('1/','')

In [ ]:
df["number_of_open_complaints"].unique() # To see if it has done correctly

In [7]:
df["number_of_open_complaints"] = pd.to_numeric(df["number_of_open_complaints"])

In [ ]:
df.info()

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
df.isna().any()

In [ ]:
df.isna().sum()

df.isna().sum(axis=1)

In [ ]:
df.dropna(how = "all") # To drop all rows with every value as null (in every column)

In [12]:
df = df.dropna(how = "all")

In [ ]:
df.tail()

In [ ]:
df.isna().any() # After dropping every row with null values, we look for other columns with null values

# We have to deal with the columns "gender" and "customer_lifetime_value"

In [ ]:
print(f"The number of null values in the column 'gender'' is : {df['gender'].isna().sum()}")
print(f"Total entrys in the 'gender' column is: {len(df['gender'])}")


print(f"The number of null values in the column 'customer_lifetime_value' is : {df['customer_lifetime_value'].isna().sum()}")
print(f"Total entrys in the 'customer_lifetime_value' column is: {len(df['customer_lifetime_value'])}")

In [16]:
df.dropna(subset=["customer_lifetime_value"], inplace = True) # Number of null values in column customer_lifetime_value is only 3, so I decided to drop those tres rows

In [ ]:
df["customer_lifetime_value"]

In [ ]:
print(f"The number of null values in the column 'customer_lifetime_value' is : {df['customer_lifetime_value'].isna().sum()}")
print(f"Total entrys in the 'customer_lifetime_value' column is: {len(df['customer_lifetime_value'])}")

In [ ]:
# the number of null values in gender column is high, like the 10% of the lenght of the amount of data, so I decided to change the missing values for the corresponding prior value in the table.

#df["gender"].ffill()

df["gender"] = df["gender"].fillna(method = 'ffill')

In [ ]:
print(f"The number of null values in the column 'gender'' is : {df['gender'].isna().sum()}")
print(f"Total entrys in the 'gender' column is: {len(df['gender'])}")

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
df.duplicated() # To show if we have any duplicated row. (It will show "True" in duplicated rows)

In [ ]:
df.duplicated().sum() #The result is 0, so we don have any duplicates

In [ ]:
df.reset_index() # To reset the indexes. The old indexes are stored in a new column called "index"

In [ ]:
df.reset_index(drop=True)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
data_cleaning.show_columns(df)
data_cleaning.format_column_names(df)

In [6]:
df = df.rename(columns={'st': 'state'})

In [ ]:
#data_cleaning.format_data_types(df) REVISAR

In [ ]:
data_cleaning.clean_invalid_data(df)
data_cleaning.deal_with_null_values(df)
data_cleaning.reset_indexes(df)

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [23]:
# Your code here